

/* FONTS: */

h1{
    font-family:'Roboto','sans-serif';
    color:white;
    text-align: center;
    margin-top: 300px;
    font-size: 70px;
}

h2{
font-family:'Roboto','sans-serif';
    color:white;
    text-align: center;
    margin-top: -50px;
}

/* AREAS OF THE PAGE */

body {
    background: linear-gradient(-45deg,#101B37,#3d25b5, #7328c9,#ad28da,#f6147e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 50vh;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* BUTTONS */

a{
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin:20px
}
