/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(234, 231, 231);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.Projectttt{
    margin: auto;
    max-width: 1000px;
    align-content: center;
    background-color: rgb(187, 203, 230);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(100,100,100);
}


/* Set the apperance of the class, chart */
.chart1{
    align-items: center;
    background-color: white;
    width: 780px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}

.chart2{
    align-items: center;
    background-color: white;
    width:630px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}

.chart3{
    align-items: center;
    background-color: white;
    width:490px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}

.chart4{
    align-items: center;
    background-color: white;
    width:800px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}

.chart5{
    align-items: center;
    background-color: white;
    width:580px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}

.chart6{
    align-items: center;
    background-color: white;
    width:560px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}

.chart7{
    align-items: center;
    background-color: white;
    width:570px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(153, 152, 152);
}